# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa]rtifacts/
[Oo]ut/
bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/

# Logs
*.log

# Rider
.idea/
*.iml
*.ipr
*.iws
.idea/**/workspace.xml
.idea/**/tasks.xml

# Cache files
*.db
*.cache
*.directory
*.lock.json